# Configuración Local desactivada.
# Las variables de entorno ahora se inyectan a través del manifiesto de despliegue (deployment.yaml)
# o mediante el sistema de orquestación correspondiente.

# SERVER_PORT=3000

# CASSANDRA_HOST=127.0.0.1
# CASSANDRA_PORT=9042
# CASSANDRA_DATACENTER=datacenter1
# CASSANDRA_KEYSPACE=messaging
# CASSANDRA_USERNAME=cassandra
# CASSANDRA_PASSWORD=cassandra

# KAFKA_HOST=localhost
# KAFKA_PORT=9092
# KAFKA_GROUP_ID=messages-service
